/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

\#*
*~
.#*
.DS_Store
.idea
.project
.sass-cache
.ruby-version
.ruby-gemset
nbproject
*.swp
spec/dummy
config/fosdick.yml
